<!DOCTYPE html>
<html>
  <head>
    <title>Everdeen - Invest for Free</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <script type="text/javascript">
      window.newsAPIKey = "<%= Rails.application.credentials.news[:api_key] %>";
    </script>

    <style id="default">
      body {
        background: white;
      }
    </style>

    <style id="pinkcss">
      body {
        background: black;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
        color: white;
      }

      header {
        background-color: rgba(0, 0, 0, 0.8);
      }

      a {
        color: white;
      }
    </style>

    <script type="text/javascript">
      if(localStorage.getItem("theme") == "default") {
        document.getElementById("pinkcss").disabled = true;
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
  window.onload = function() {
    themeButton = document.getElementById("theme");
    if (themeButton) {
      themeButton.addEventListener("click", function() {
      pink = document.getElementById("pinkcss");
      if (pink.disabled == true) {
        pink.disabled = false;
        localStorage.removeItem("theme");
      } else {
        pink.disabled = true;
        localStorage.setItem("theme", "default");
      }});
    }
  }
</script>
